<element>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>Servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>Servlet.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DriverServlet</servlet-name>
        <servlet-class>Servlet.DriverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DriverServlet</servlet-name>
        <url-pattern>/DriverServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>Servlet.BillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/BillServlet</url-pattern>
    </servlet-mapping>
    
</web-app>
</element>