
<element>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>Servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>Servlet.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DriverServlet</servlet-name>
        <servlet-class>Servlet.DriverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DriverServlet</servlet-name>
        <url-pattern>/DriverServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>Servlet.BillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/BillServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <servlet-class>Servlet.DeleteBookingServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <url-pattern>/DeleteBookingServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>EditBookingServlet</servlet-name>
    <servlet-class>Servlet.EditBookingServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>EditBookingServlet</servlet-name>
    <url-pattern>/EditBookingServlet</url-pattern>
</servlet-mapping>
    
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>Servlet.AdminLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DriverLoginServlet</servlet-name>
        <servlet-class>DriverLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DriverLoginServlet</servlet-name>
        <url-pattern>/DriverLoginServlet</url-pattern>
    </servlet-mapping>
    
    
</web-app>
</element>